body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff6f61;
    color: #fff;
    padding: 1rem;
    text-align: center;
}


nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.section {
    padding: 50px;
    text-align: center;
}

.service {
    margin-bottom: 30px;
}

footer {
    background-color: #ff6f61;
    color: #fff;
    text-align: center;
    padding: 1rem;
    bottom: 0;
    width: 100%;
}

/* CSS to style the "Email Us" link as a button */
address a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6f61;
    /* Coral background color */
    color: #fff;
    /* White text color */
    text-decoration: none;
    border-radius: 5px;
    /* Rounded corners */
    transition: background-color 0.3s ease;
    /* Smooth transition for background color */
}

address a:hover {
    background-color: #ff4632;
    /* Darker coral color on hover */
}